body {
  background-color: black;
  color: white;
  font-style: oblique;
  font: 15px Arial, sans-serif;
}
.carousel-item{
  width: 100%;
  margin: 100px auto 100px auto;
  text-align: center;
height: auto;
}
img {
  width: 95%
}
